footer.footer-container {
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBase;
  text-align: center;
  i, small {
    color: $fontLight;
    padding: 4px 9px;
    @media #{$medium} {
      padding: 5px 16px;
    }
  }
  i {
    font-size: 1.2em;
    transition: all 500ms;
    @media #{$medium} {
      font-size: 2em;
    }
  }
  i:hover {
    color: $experimentalColor;
  }
}