select {
  outline: none;
  border: none;
  background-color: $colorBase;
  color: $fontLight;
  padding: 2px;
  cursor: pointer;
}

input {
  background-color: $inputColor;
  border: none;
  padding: 3px;
  outline: none;
  margin-right: 5px;
  margin-bottom: 5px;
  color: $inputFontColor;
  font-weight: 500;
  transition: all 500ms;
}

input:invalid {
  // outline: rgb(247, 163, 177) solid 2px;
  box-shadow:
    2px 2px 2px pink;
}

input[type=date]:valid {
  color: $inputFontColor;
}

input[type=date]:invalid {
  color: $placeholderColor;
  font-weight: 300;
}

::placeholder {
  color: $placeholderColor;
  font-weight: 300;
}