/* Header */
header {
  background-color: $colorBase;
  margin: 0;
  color: $fontLight;

  .hide-log-out-mobile {
    color: $fontLight;
  }

  button {
    color: $fontDark;
    background-color: $fontLight;
  }
  button:hover {
    background-color: $experimentalColor;
  }
}

.header-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
}

.banner-container-large {
  display: none;
  flex-basis: 70%;
  @media #{$medium} {
    display: block;
  }
  h1 { 
    padding-top: 10px;
    display: inline-block;
    margin: 0;
    color: $fontLight;
    font-weight: 300;
    border-top: 2px solid $colorBase;
  }
  h1:hover {
    color: $experimentalColor;
    border-top: 2px solid $experimentalColor;
  }
}

.banner-container-small {
  display: block;
  flex-basis: 70%;
  @media #{$medium} {
    display: none;
  }
  h1 {
    display: inline-block;
    margin: 0;
    color: $fontLight;
    font-weight: 300;
    font-size: 26px;
  }
}

/* Nav */
nav {
  margin: 0;

  ul {
    display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  @media #{$medium} {
    display: flex !important; // !important added to override inline styles added by react
    flex-direction: row;
  }
  }
}


.nav-visible {
  display: block;
  @media #{$medium} {
    display: flex;
  }
}

nav li {
  margin: 0;
  padding: 0;
  text-align: center;
  @media #{$medium} {
    width: 200px;
    border-right: 1px solid white;
  }
}

nav li:last-of-type {
  @media #{$medium} {
    border-right: none;
  }
}

nav a {
  text-decoration: none;
}

.link-item {
  padding: 8px 0 5px;
  color: $fontLight;
  border-bottom: 1px solid white;
  @media #{$medium} {
    background-color: transparent !important; // Find a way to get rid of this !important
    border-bottom: none;
  }
}

.link-item:hover {
  text-decoration: underline;
  color: $experimentalColor;
}

.hide-log-out-mobile {
  flex-basis: 30%;
  display: none;
  @media #{$medium} {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-start;
  }
  span {
    color: $fontLight;
  }
  button {
    margin-top: 0;
  }
}

.nav-button-small {
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.9em;
  cursor: pointer;
  @media #{$medium} {
    display: none;
  }
  i {
    color: $fontLight;
  }
}

#responsive-log-out {
  cursor: pointer;
  @media #{$medium} {
    display: none;
  }
}