.sending-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: $fontLight;
  border-radius: 50%;
  border: 2px solid $colorBase;
}

.server-error-notification {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: $bodyColor;
  border: 2px solid $colorBase;
}

.mask {
  background: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.app-mask {
  cursor: initial;
  z-index: 3;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

