.select-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  flex-direction: column;
  @media #{$medium} {
    flex-direction: row;
  }
  span {
    font-size: 0.9em;
    @media #{$medium} {
      font-size: 1em;
    }
  }
  select {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.page-buttons-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.page-button {
  // display: inline-block;
  text-align: center;
  padding: 5px 9px;
  margin-bottom: 5px;
  border: 1px solid $colorBase;
  border-right: none;
  cursor: pointer;
  user-select: none;
}

.page-button:hover {
  background-color: $inputFontColor;
  color: $experimentalColor;
}

.page-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid $colorBase;
}

.page-button-active {
  background-color: $colorBase;
  color: $experimentalColor;
}