.loader{
  text-align: center;
  padding: 50px 0;
}

.users-list-form {
  padding: 0 10px;

  ::placeholder {
    font-size: 0.9em;
    color: $colorBase;
  }

  input {
    padding: 5px;
    font-size: 0.9em;
    width: 145px;
  }

  button {
    font-size: 0.8em;
  }

  select {
    padding: 5px;
  }

  .sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    > div:first-child {
      width: 110px;
    }
    div {
      text-align: center;
    }
    .sort-button {
      border-radius: 100%;
      margin: 2px;
      font-size: 2em;
      cursor: pointer;
      background-color: $fontLight;
    }
    .sort-button:hover {
      background-color: $experimentalColor;
    }
  }
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$small} {
    flex-direction: row;
  }
}