.loader{
  text-align: center;
  padding: 50px 0;
}

.users-list-form {
  padding: 0 10px;

  ::placeholder {
    font-size: 0.8em;
    color: $colorBase;
  }

  input {
    width: 145px;
  }

  button {
    font-size: 0.8em;
  }

  .sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    > div:first-child {
      width: 110px;
    }
    .sort-button {
      border-radius: 100%;
      padding: -2px;
      margin: 2px;
      font-size: 1.6em;
      cursor: pointer;
      background-color: $fontLight;
    }
    .sort-button:hover {
      background-color: $bodyColor;
      color: $inputFontColor;
    }
  }
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$small} {
    flex-direction: row;
  }
}