.modal {
  position: fixed;
  height: 457px;
  width: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bodyColor;
  border: 1px solid $colorBase;
  z-index: 3;
  @media #{$medium} {
    height: 472px;
  }
  input {
    margin-left: 4px;
    margin-bottom: 4.5px;
    background-color: $fontLight;
    width: 100%;
  }
  .modal-email {
    @media #{$medium} {
      font-size: 0.9em;
      height: 25px;
    }
  }
}

.modal-form-container {
  position: relative;
  top: -5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  img {
    margin: 0 0 14px;
    border-radius: 100%;
    border: 1px solid $colorBase;
    padding: 2px;
  }
  > button {
    margin: 8px;
  }
  form {
    margin-right: 10px;
    button {
      margin: 4px 0 8px 4px;
      font-size: 0.95em;
      padding: 4px 8px;
    }
  }
}

.modal-form-columns {
  overflow: auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  span {
    line-height: 23px;
    margin: 1px 10px 3.5px;
    display: block;
    @media #{$medium} {
      line-height: 26px;
    }
  }
}

.modal-label {
  height: 23px;
  margin: 3px 0 3.5px 10px;
  text-align: right;
  @media #{$medium} {
    height: 26.5px;
  }
}

.modal-close {
  cursor: pointer;
  color: $colorBase;
  font-size: 2.5em;
  position: relative;
  top: 7px;
  right: 7px;
  float: right;
  transition: all 300ms;
  border-radius: 100%;
}

.modal-close:hover {
  background-color: $fontLight;
}