* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

.modal {
  position: fixed;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: ivory;
  border: 1px solid black;
}

.user-info:hover {
  background-color: beige;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
