/* Reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-image: linear-gradient(to right, rgb(80, 209, 209), rgb(101, 243, 248));
  margin: 0;
}

h1 { 
  margin: 0;
}

/* Nav */
nav {
  margin: 0;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a {
  text-decoration: none;
}

.link-item {
  padding: 5px 0 3px;
  color: white;
}

.link-item:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
}

/* Users list */
.loader{
  text-align: center;
  padding: 50px 0;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.user-info {
  padding: 15px;
}

.user-info:hover {
  background-color: rgb(219, 255, 255);
  cursor: pointer;
  box-shadow: 
    4px 4px 2px whitesmoke;
}

.user-info h3 {
  margin: 5px 0;
}

/* Users list search parameters */
select {
  outline: none;
  border: none;
  background-color: rgb(80, 209, 209);
  color: white;
  padding: 2px;
  cursor: pointer;
}

input[type=text], input[type=number] {
  background-color: rgb(219, 255, 255);
  border: none;
  padding: 3px;
  outline: none;
  margin-right: 5px;
  margin-bottom: 5px;
}

::placeholder {
  color: rgb(75, 201, 201);
}

/* Users list pagination */
.page-buttons-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.page-button {
  display: inline-block;
  text-align: center;
  padding: 3px 8px;
  border: 1px solid lightseagreen;
  cursor: pointer;
  user-select: none;
}

.page-button:hover {
  background-color: rgb(191, 225, 247);
  color: white;
}

.page-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Modal */
.modal {
  position: fixed;
  height: 400px;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ivory;
  border: 1px solid black;
  z-index: 3;
}

.sending-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: white;
  border-radius: 50%;
  border: 2px solid lightseagreen
}

.modal-close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
}

.mask {
  background: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.app-mask {
  cursor: initial;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

/* Responsive */
@media (min-width: 576px) {
  .users-list {
    flex-direction: row;
  }

  .user-info {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  /* Header and Nav */
  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav li {
    width: 200px;
    border-right: 1px solid white;
  }

  nav li:last-of-type {
    border-right: none;
  }

  .link-item {
    background-color: transparent !important;
  }

  /* Users list */
  .user-info {
    flex-basis: 33%;
  }
}

@media (min-width: 992px) {
  .user-info {
    flex-basis: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .user-info {
    flex-basis: 20%;
  }
}
