$colorBase: #50d1d1;
$colorBaseLight: #65f3f8;

$placeholderColor: #4bc9c9;
$inputColor: #dbffff;
$inputFontColor: #1b9292;

$fontLight: #fff;
$fontDark: #50d1d1;

$x-small: "all and (max-width: 320px)";
$small: "all and (min-width: 576px)";
$medium: "all and (min-width: 768px)";
$large: "all and (min-width: 992px)";
$x-large: "all and (min-width: 1200px)";